APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:JhClP8yYHTgtfZM/oY3PlvT77oKXW5e0SVWH3MsS+UA=
APP_DEBUG=true
APP_URL=http://localhost
DOMAIN=http://localhost:8000

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=thaibudda
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailgun.org
MAIL_PORT=587
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=pandyajeetu2510@gmail.com
MAIL_FROM_NAME=JeetPandyaTEst
MAILGUN_DOMAIN=sandbox84378de40a2d4bf5af880c172cad58f8.mailgun.org
MAIL_DRIVER=mailgun
MAILGUN_SECRET=db4df449-a5203e33
MAIL_USERNAME=postmaster@sandbox84378de40a2d4bf5af880c172cad58f8.mailgun.org
MAIL_PASSWORD=2ac819494b49a50e227b5c2b36ffeda8-db4df449-cf97bfcd
MAIL_ENCRYPTION=SSL

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

STRIPE_KEY=pk_test_51NxYGfSFxfpHSZoyO1J4kOMqIaOy6occy1711vjI2l3qMh2kooXWIKs9RvrEpLAdixQDLd2jONS4pjitSrupnyKc003XlS9fvF
STRIPE_SECRET=sk_test_51NxYGfSFxfpHSZoyMuToQalTItt2fqG3nAhsJfolXNUAXU7Uh0WBnN3NH0smIQxAvGRetA0Q6ALI0UBPS7wlRtOA00OdOmMixX
STRIPE_WEBHOOK_SECRET=whsec_7e5f9e8a6544f9db984cbe33157a0c8377459bf02c1161bdcc622d3301fe4420
